[run]
# Specify the source directories to include in coverage analysis.
# This is different from pytest's `testpaths` - which tells `pytest` where to
# look for test files where as `source` tells `coverage` which parts of our
# codebase should be included for coverage analysis.
# This ideally should be a superset (?) of the testpaths in .pytest.ini - you can choose
# to test less code base but coverage will tell you what you missed out.
source =
    omnivault/

# Omit certain files/directories from coverage
omit =
    */__init__.py
    */tests/*

[report]
# Define the minimum expected coverage percentage
fail_under = 80

# Show missing lines in the coverage report
show_missing = True

[html]
# Directory where HTML coverage reports will be saved
directory = coverage_html_report