datasets==2.17.1
evaluate==0.4.1
hydra-core==1.3.2
matplotlib>=3.8.0
numpy>=1.26.0
openai>=1.1.1
pandas>=2.1.1
portalocker>=2.8.2
pydantic==2.5.2
rich>=13.6.0
scikit-learn==1.4.1
seaborn>=0.13.0
tiktoken==0.5.2
torch>=2.1.0
torchinfo>=1.8.0
torchmetrics>=1.3.0
torchtext
torchvision>=0.16.0
transformers==4.38.1