bandit==1.7.5
black==24.10.0
colorama==0.4.6
cookiecutter==2.4.0
coverage==7.3.2
ghp-import==2.1.0
ipywidgets==7.7.2
isort==5.13.2
jupytext==1.15.2
jupyter-book==1.0.0
mypy==1.13.0
pandas-stubs==2.1.4.231227
pre-commit==4.0.1
pytest==7.4.3
ruff==0.8.2
sphinxcontrib-mermaid==0.1.0
sphinx-inline-tabs==2023.4.21
sphinx-proof==0.2.0
sphinx-sitemap==2.5.1
typeguard==4.1.5
types-psutil==6.0.0.20240621
types-requests==2.31.0.10
types-tabulate==0.9.0.20240106
types-tqdm==4.66.0.5
types-PyYAML==6.0.12.20240917